@page "/documents"
@using System.Net.Http.Json
@using YouLookGoodInPrint.Shared
@inject HttpClient Http
@inject TokenContainer tokenContainer
@inject DocumentsContainer docContainer
@inject NavigationManager UriHelper

<h3>Documents</h3>

@{
    @if (tokenContainer.Token == "null")
    {
        <p>You are not signed in.</p>
    }

    else if (docContainer.documents == null)
    {
        <p><em>Loading...</em></p>
    }

    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Creation Date</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var doc in docContainer.documents)
                {
                    <tr>
                        <td>@doc.Name</td>
                        <td>@doc.CreationDate.ToShortDateString()</td>
                        <td>
                            <button class="btn btn-primary" @onclick="() => Edit(doc.Name)">Edit</button>
                            <button class="btn btn-primary" @onclick="() => Edit(doc.Name)">View</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <p>@docname</p>
    }
}

@code {

    public string docname;

    public async Task Edit(string name)
    {
        foreach (Document doc in docContainer.documents)
        {
            if (doc.Name == name)
                docContainer.currentDocument = doc;
        }

        UriHelper.NavigateTo("editor");
    }
}
