@page "/sign_in"
@using System.Net
@using System.Net.Http.Json
@using YouLookGoodInPrint.Shared
@inject HttpClient Http

<h3>Sign In</h3>

<form>
    <fieldset>
        <div>
            <label for="username">User</label>
            <input type="text" @bind="username" />
        </div>

        <div>
            <label for="password_text">Password</label>
            <input type="password" @bind="password" />
        </div>
    </fieldset>
</form>

<button class="btn btn-primary" @onclick="Submit">Submit</button>
<p>@status</p>

@code {

    public string username = "", password = "", status;

    public async Task Submit()
    {
        if (username == "" || password == "")
        {
            status = "Fill in the form.";
            return;
        }

        string hash = HashGenerator.GetHash(password);
        Credentials credentials = new Credentials(username, hash);

        HttpResponseMessage resp = await Http.PostAsJsonAsync<Credentials>("SignIn", credentials);
        status = resp.Content.ReadAsStringAsync().Result;
    }
}
